version: '3.8'

services:
  web:
    build: .
    container_name: fastapi_web
    volumes:
      - ./app:/app
    ports:
      - "8000:8000"
    command: uvicorn main:app --reload --host 0.0.0.0 --port 8000